/*******************************************************************************
 * Themes
 ******************************************************************************/
@use "variables" as vars;

:root {
  --global-bg-color: #{vars.$white-color};
  --global-code-bg-color: #{vars.$code-bg-color-light};
  --global-text-color: #{vars.$black-color};
  --global-text-color-light: #{vars.$grey-color};
  --global-theme-color: #{vars.$uc-red-color};
  --global-background-highlight-color: #{vars.$uc-light-orange-color};
  --global-hover-color: #{vars.$uc-red-color};
  --global-footer-bg-color: #{vars.$grey-color-dark};
  --global-footer-text-color: #{vars.$grey-color-light};
  --global-footer-link-color: #{vars.$white-color};
  --global-distill-app-color: #{vars.$grey-color};
  --global-divider-color: rgba(0, 0, 0, .1);

  .fa-sun {
    display: none;
  }

  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{vars.$grey-color-dark};
  --global-code-bg-color: #{vars.$code-bg-color-dark};
  --global-text-color: #{vars.$grey-color-light};
  --global-text-color-light: #{vars.$grey-color-light};
  --global-theme-color: #{vars.$uc-dark-orange-color};
  --global-background-highlight-color: #{vars.$uc-berry-color};
  --global-hover-color: #{vars.$uc-light-orange-color};
  --global-footer-bg-color: #{vars.$grey-color-light};
  --global-footer-text-color: #{vars.$grey-color-dark};
  --global-footer-link-color: #{vars.$black-color};
  --global-distill-app-color: #{vars.$grey-color-light};
  --global-divider-color: #424246;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .fa-moon {
    display: none;
  }
}